<h1>User profile</h1>

{{#if user}}
  <h2>Welcome, {{ user.username }}!</h2>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}

<a class="navbar-brand" href="#">Mis acciones</a>
<a href="/search-company">Añadir acciones</a>

{{#each acciones}}
<h5>{{this.name}}</h5>
<a href="/show-company?symbol={{symbol}}">Show details</a>
{{/each}}